<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{ISO8601} [%thread] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} - %encode{%.-10000msg}{CRLF}%n" />
        </Console>
<!--        <RollingFile
                name="RollingFile"
                fileName="./log/dataspaceconnector.log"
                filePattern="./log/dataspaceconnector.%i.log.gz"
                ignoreExceptions="false" append="true">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%thread] %-5p %encode{%.-10000m}{CRLF}%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>-->
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
<!--        <Logger name="org.springframework" level="info" /> -->
        <Logger name="org.hibernate" level="error"/>
        <Logger name="io.dataspaceconnector" level="debug" />
        <Logger name="camel-route-logger" level="info"/>
<!--        <Logger name="de.fhg.aisec.ids.idscp2" level="TRACE" />-->
<!--        <Logger name="de.fhg.aisec.ids.camel.idscp2" level="TRACE" />-->
    </Loggers>
</Configuration>
