name: docker-image

on:
   push:
    branches: [ main ]
    tags: 'v*'
   release:
     types: [published]

env:
  REGISTRY: ${{ secrets.IMAGE_REGISTRY }}
  OWNER: ${{ secrets.REPO_USER }}

jobs:
  docker:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout Repo
        uses: actions/checkout@v2
      -
        name: Build registry path
        id: get_repo
        run: echo ::set-output name=IMAGE::"$REGISTRY/$OWNER/dataspace-connector"
      -
       name: Find tag
       id: get_tag
       run: |
         echo ${GITHUB_REF#refs/tags/}
         echo ::set-output name=TAG::${GITHUB_REF#refs/tags/}
       if: startsWith(github.ref, 'refs/tags')
      -
       name: Find branch name
       id: get_branch
       run: |
         # to lowercase
         TMP=$(git rev-parse --abbrev-ref HEAD)
         TMP=$(echo "$TMP" | tr '[:upper:]' '[:lower:]')
         echo $TMP
         echo ::set-output name=BRANCH::$TMP
      -
       name: Login to registry
       uses: docker/login-action@v1
       with:
         # This should use REGISTRY instead of the secret directly
         registry: ${{ secrets.IMAGE_REGISTRY }}
         username: ${{ github.actor }}
         password: ${{ secrets.GITHUB_TOKEN }}
      -
       name: Build image
       run: |
        docker build . -t $IMAGE:$BRANCH
       env:
         IMAGE: ${{ steps.get_repo.outputs.IMAGE }}
         BRANCH: ${{ steps.get_branch.outputs.BRANCH }}
      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ steps.get_repo.outputs.IMAGE }}:${{ steps.get_branch.outputs.BRANCH }}'
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL'
      -
       name: Push tagged image
       run: |
         echo $IMAGE
         echo $BRANCH
         echo $TAG
         TMP=$TAG
         if [[ $TMP == v* ]]
         then
           # Its a version tag
           TMP=${TAG:1:${#TAG}}
           echo "Found a version tag"
           docker tag $IMAGE:$BRANCH $IMAGE:latest
           docker push $IMAGE:latest
         fi
         # Has tag
         docker tag $IMAGE:$BRANCH $IMAGE:$TMP
         docker push $IMAGE:$TMP
       if: startsWith(github.ref, 'refs/tags')
       env:
         IMAGE: ${{ steps.get_repo.outputs.IMAGE }}
         BRANCH: ${{ steps.get_branch.outputs.BRANCH }}
         TAG: ${{ steps.get_tag.outputs.TAG }}
      -
       name: Push branch image
       run: |
         docker push $IMAGE:$BRANCH
       if: startsWith(github.ref, 'refs/heads')
       env:
         IMAGE: ${{ steps.get_repo.outputs.IMAGE }}
         BRANCH: ${{ steps.get_branch.outputs.BRANCH }}
